In [5]:
import pandas as pd

In [6]:
tabela = {}
tabela[100] = {'demanda': 10, 'canal': 1, 'distancia':  15}
tabela[101] = {'demanda': 11, 'canal': 2, 'distancia':  12}
tabela[102] = {'demanda': 10, 'canal': 1, 'distancia':  15}
tabela[103] = {'demanda': 1, 'canal': 2, 'distancia': 12}

In [7]:
DF = pd.read_csv('TABELA.csv',index_col=0)

DF

                 2002        2004        2006
demanda     16.000000    4.000000    8.000000
canal     -209.529914 -134.369652 -188.793921
distancia  105.069559   40.696070   68.854753

In [8]:
from Otimin import Otimizar_NOMA, Canal, db2pow
No = db2pow(-174)/1000
Pt = db2pow(44)/1000
for i in range(len(DF.columns)):
    index = DF.columns[i]
    for j in range(len(DF.columns)):
        jndex = DF.columns[j]
        if index == jndex:
            pass
        else:
            print(f'Par {index}-{jndex}')
            ans = Otimizar_NOMA(db2pow(DF[index]['canal']),db2pow(DF[jndex]['canal']),No,Pt,1,DF[index]['demanda'],DF[jndex]['demanda'])
            if ans['Status'] != 0:
                print('Usar OMA')
            else:
                print('Usar NOMA')

Par 2002-2004
Usar NOMA
Par 2002-2006
Usar NOMA
Par 2004-2002
Usar OMA
Par 2004-2006
Usar NOMA
Par 2006-2002
Usar OMA
Par 2006-2004
Usar OMA

In [9]:
float(Canal(10,2,1))

1.8580218160317372e-15

In [10]:
from Otimin import Otimizar_NOMA, Canal, db2pow, pow2db
import pandas as pd

In [11]:
No = db2pow(-174)/1000
Pt = db2pow(44)/1000
DF = pd.read_csv('TABELA.csv',index_col=0)
sumrate = {}
for i in range(len(DF.columns)):
    row = list()
    index = DF.columns[i]
    for j in range(len(DF.columns)):
        jndex = DF.columns[j]
        if i == j:
            row.append(0)
        else:
            #print(f'Par {index}-{jndex}')
            ans = Otimizar_NOMA(db2pow(DF[index]['canal']),db2pow(DF[jndex]['canal']),No,Pt,1,DF[index]['demanda'],DF[jndex]['demanda'])
            print(f'Par{index}-{jndex}: {ans["SumRate"]}')
            #message = ACLMessage(ACLMessage.INFORM)
            #message.add_receiver(AID('Transmission_Agent_9999@localhost:9999'))
            row.append(ans['SumRate'])
        sumrate[index] = row
DF = pd.DataFrame(sumrate)

print(sumrate)

Par2002-2004: 27.781400360764316
Par2002-2006: 9.703780495719197
Par2004-2002: 7.005554155690579
Par2004-2006: 13.703702364047496
Par2006-2002: 9.349063716766857
Par2006-2004: 9.707696008849146
{'2002': [0, 27.781400360764316, 9.703780495719197], '2004': [7.005554155690579, 0, 13.703702364047496], '2006': [9.349063716766857, 9.707696008849146, 0]}

In [12]:
DF_NOMA = pd.read_csv('NOMA_DB.csv',index_col=0)
DF = pd.read_csv('SUMRATE_DB.csv',index_col=0)
Matriz_interesse = DF*DF_NOMA
#DF.index = DF.columns

#DF.reindex(DF.index,axis=1)
#DF.reindex(DF.index,axis=0)
Matriz_interesse

           2002       2004      2006
2002   4.000000   0.000000   0.00000
2004  28.067811   1.000000  22.56349
2006  22.472369  23.442835   4.00000