In [26]:
import pandas as pd

In [27]:
DATA = pd.read_csv('DATA.csv')
DATA

   Unnamed: 0  index                   time  agent      Channel Gain Demand
0        2002    295  29/07/2021 - 21:45:00   2002  [5.23112198e-15]   [3.]
1        2003    299  29/07/2021 - 21:45:00   2003  [2.35440677e-15]   [2.]
2        2001    294  29/07/2021 - 21:45:00   2001  [1.90573013e-15]   [2.]
3        2004    296  29/07/2021 - 21:45:00   2004    [1.571861e-12]   [1.]
4        2005    297  29/07/2021 - 21:45:00   2005  [1.89003277e-15]   [5.]
5        2007    300  29/07/2021 - 21:45:00   2007  [1.54615252e-14]   [5.]
6        2006    298  29/07/2021 - 21:45:00   2006  [1.03511112e-15]   [5.]

In [28]:
DF_OMA = pd.read_csv('0DF1.csv')

DF_OMA = DF_OMA.drop(['Unnamed: 0'],axis=1)
DF_OMA.index = DF_OMA.columns
asd = sorted(list(DF_OMA.columns))
DF_OMA = DF_OMA.reindex(asd,axis=1)
DF_OMA = DF_OMA.reindex(asd,axis=0)
DF_OMA.head(10)

,Proposal 2001,Proposal 2002,Proposal 2003,Proposal 2004,Proposal 2005,Proposal 2006,Proposal 2007
Proposal 2001,27.914763,0.0000,0.000000,0.000000,0.00000,0.000000,0.000000
Proposal 2002,0.000000,28.7841,0.000000,0.000000,0.00000,0.000000,0.000000
Proposal 2003,0.000000,0.0000,21.398365,0.000000,0.00000,0.000000,0.000000
Proposal 2004,0.000000,0.0000,0.000000,29.281249,0.00000,0.000000,0.000000
Proposal 2005,0.000000,0.0000,0.000000,0.000000,19.43831,0.000000,0.000000
Proposal 2006,0.000000,0.0000,0.000000,0.000000,0.00000,20.409685,0.000000
Proposal 2007,0.000000,0.0000,0.000000,0.000000,0.00000,0.000000,16.802164

In [29]:
DF_NOMA = pd.read_csv('0DF.csv')
DF_NOMA = DF_NOMA.drop(['Unnamed: 0'],axis=1)
DF_NOMA.index = DF_NOMA.columns
asd = sorted(list(DF_NOMA.columns))
DF_NOMA = DF_NOMA.reindex(asd,axis=1)
DF_NOMA = DF_NOMA.reindex(asd,axis=0)
DF_NOMA.head(10)

,Proposal 2001,Proposal 2002,Proposal 2003,Proposal 2004,Proposal 2005,Proposal 2006,Proposal 2007
Proposal 2001,5.000000,25.642206,0.000000,0.000000,0.000000,0.00000,0
Proposal 2002,0.000000,3.000000,0.000000,0.000000,0.000000,0.00000,0
Proposal 2003,22.799626,25.009744,3.000000,0.000000,0.000000,0.00000,0
Proposal 2004,22.641143,24.389374,22.857650,2.000000,0.000000,0.00000,0
Proposal 2005,22.579457,24.191814,22.786220,22.895907,2.000000,0.00000,0
Proposal 2006,19.659433,19.793770,19.685111,19.697473,19.673105,2.00000,0
Proposal 2007,16.782106,16.799670,16.785574,16.787225,16.783959,16.34589,3

In [30]:
DF2 = pd.read_csv('0DF2.csv')
DF2['Unnamed: 0'] = DF2.columns[1:]
DF2.rename(columns = {'Unnamed: 0':'SUMRATE FU-NU'}, inplace = True)
DF2 = DF2.set_index(DF2['SUMRATE FU-NU'])
DF2 = DF2.drop(['SUMRATE FU-NU'],axis=1)
asd = sorted(list(DF2.columns))
DF2 = DF2.reindex(asd,axis=1)
DF2 = DF2.reindex(asd,axis=0)
DF2.head(10)

,Proposal 2001,Proposal 2002,Proposal 2003,Proposal 2004,Proposal 2005,Proposal 2006,Proposal 2007
SUMRATE FU-NU,,,,,,,
Proposal 2001,5.000000,28.642206,0.000000,29.897949,0.000000,0.000000,0
Proposal 2002,0.000000,3.000000,0.000000,30.753531,0.000000,0.000000,0
Proposal 2003,27.799626,28.009744,3.000000,28.038900,26.078491,0.000000,0
Proposal 2004,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0
Proposal 2005,27.803522,28.027860,0.000000,28.076117,4.000000,0.000000,0
Proposal 2006,25.601297,23.871506,23.651037,22.913907,24.410623,3.000000,0
Proposal 2007,24.481357,22.599437,22.504030,21.616843,23.390486,20.672594,3

In [31]:
import numpy as np
#np.diag(DF1)
sub_util = {}
desp = {}
i=0
for c in DF2.columns:
    print(DF2[c][i])
    print(np.diag(DF_OMA)[i])
    if DF2[c][i] < np.diag(DF_OMA)[i]:
        sub_util[c] = DF2[c]/np.diag(DF_OMA)[i]
    else:
        sub_util[c] = 0
    #desp[c] = DF[c]/np.diag(DF2)[i]
    i=i+1

sub_util = pd.DataFrame(sub_util)   
sub_util

5.0
27.91476289907377
3.0
28.784100012239303
3.0
21.398365396447677
2.0
29.28124944015098
4.0
19.43830975542001
3.0
20.40968482868089
3
16.80216414713205

,Proposal 2001,Proposal 2002,Proposal 2003,Proposal 2004,Proposal 2005,Proposal 2006,Proposal 2007
SUMRATE FU-NU,,,,,,,
Proposal 2001,0.179117,0.995070,0.000000,1.021061,0.000000,0.000000,0.000000
Proposal 2002,0.000000,0.104224,0.000000,1.050281,0.000000,0.000000,0.000000
Proposal 2003,0.995875,0.973098,0.140198,0.957572,1.341603,0.000000,0.000000
Proposal 2004,0.000000,0.000000,0.000000,0.068303,0.000000,0.000000,0.000000
Proposal 2005,0.996015,0.973727,0.000000,0.958843,0.205779,0.000000,0.000000
Proposal 2006,0.917124,0.829330,1.105273,0.782545,1.255800,0.146989,0.000000
Proposal 2007,0.877004,0.785136,1.051671,0.738249,1.203319,1.012882,0.178548

In [32]:
from ortools.linear_solver import pywraplp
# Create the linear solver with the GLOP backend.
solver = pywraplp.Solver.CreateSolver('GLOP')

custos = sub_util
x={}
for i in range(len(custos.columns)):
    for j in range(len(custos.index)):
        x[j, i] = solver.IntVar(0, 1, f'NU:{custos.index[j]}_FU:{custos.columns[i]}')

for i in range(len(custos.columns)):
    for j in range(len(custos.index)):
        solver.Add(([x[i, j]] == 10))

solver.NumConstraints()

49

In [33]:
# Implemente uma solucao para o problema:
# max sum xij Aij
# s.t.
#   sum_i xij = 1  ... para todo j
#   sum_j xij = 1  ... para todo i
# 	0 <= xij <= 1

#Vamos importar o solver linear do ORTOOLS
from __future__ import print_function
from ortools.linear_solver import pywraplp
#Vamos importar o numpy como uma ferramenta auxiliar 
import numpy as np
import math
#Vamos declarar o solver considerando o Google's Linear Optimization Programming system (GLOP)
solver = pywraplp.Solver('simple_lp_program', pywraplp.Solver.GLOP_LINEAR_PROGRAMMING)


def mi2ai(i,j,line_length):
	return i*N+j

def ai2mi(index, line_length):
	return [math.floor(index/line_length), index%line_length]


# [Definicao dos parametros]
#Numero de usuários e espaços
N = len(custos.columns)
# Matriz de interesses
A = custos
# [Fim da definicao dos paramentros]

# [Definicao das variaveis de decisao]
#Vamos criar as variaveis numericas do problema de otimizacao
#Formato: solver.NumVar(limite inferior, limite superior, rotulo)
# x = solver.NumVar(0, 1, 'x')
# y = solver.NumVar(0, 1, 'y')
# x = solver.NewIntVar(0, 1, 'x')
x = []
# i*j variaveis serao necessarias
for i in range(1,N+1):
	for j in range(1,N+1):
		x.append(solver.NumVar(0, 1, str(i)+","+str(j)))
print ('Numero de variaveis =', solver.NumVariables())
# [Fim da definicao das variaveis de decisao]

# [Definicao das restricoes]
# Vamos criar as restricoes do problema para as variaveis de decisao
# cts = []
# Caso saiba de antemão o numero de restricoes - no nosso caso 6
# cts = [[]] * 6
# Vamos criar um indice para as restricoes
head = 0
# Exemplo: -infinito <= x + y <= 2
# ######## ct = solver.Constraint(-solver.infinity(),2,'ct')
# ######## ct.SetCoefficient(x, 1)
# ######## ct.SetCoefficient(y, 1)
# Restricao Todo presente so pode pertencer a uma pessoa
# Restricao linear: sum_i xij = 1; para todo j em 1,2,3 ..., N
#### Definir o laço do somatorio
#for j in range(0,N):
	#Vamos criar a restricao para cada presente 
#	ct = solver.Constraint(0,1, str(head))
#	for i in range(0,N):
#		ct.SetCoefficient(x[mi2ai(i,j,N)], 1)
#	head = head+1
# Restricao Toda pessoa so pode pegar um presente
# Restricao linear: sum_j xij = 1; para todo i em 1,2,3 ..., N
# Definir o laço do somatorio
#for i in range(0,N):
	#Vamos criar a restricao para cada presente 
#	ct=solver.Constraint(0,1, str(head))
#	for j in range(i,N):
##		ct.SetCoefficient(x[mi2ai(i,j,N)], 1)
#	head = head+1
####ct = solver.Constraint(0,N/2, str(head))
#for i in range(0,N):
#    ct.SetCoefficient(x[mi2ai(i,i,N)], 1)
head = head+1
	
for i in range(N):
	head = head+1
	ct = solver.Constraint(1,1, str(head))
	for j in range(N):
		ct.SetCoefficient(x[mi2ai(i,j,N)], 1)
		ct.SetCoefficient(x[mi2ai(j,i,N)], 1)
			
head = head+1

#ct = solver.Constraint(N/2,N, str(head))
#for i in range(0,N):
#	for j in range(0,N):
#		ct.SetCoefficient(x[mi2ai(i,j,N)], 1)

#for i in range(0,N):	
#    for j in range(i,N):
#        ct.SetCoefficient(x[mi2ai(i,j,N)], 1)
# [Fim da definicao das restricoes]

#[Funcao objetivo]
# Definiremos a funcao objetivo 
objective = solver.Objective()
# Maximizar o interesse de todos
# Objetivo linear: max sum_ij xij*Aij 
# Agora, precisaremos colocar os coeficientes multiplicativos de xij
# Exemplo: objective.SetCoefficient(y, 1)
#Criar o laco para variar entre todas as variaveis i,j em NxN
for i in range(N):
    for j in range(N):
        objective.SetCoefficient(x[mi2ai(i,j,N)], A.iloc[i,j])      
        # Definiremos o problema como uma maximizacao
objective.SetMaximization()

# #Executaremos o solver
solver.Solve()

#Imprimiremos a solucao
print('Solucao:')
print('Valor objetivo =', objective.Value())
strmatrix=''
for i in range(0,N):
	strmatrix+='[ '
	for j in range(0,N):

		strmatrix += str(int(x[mi2ai(i,j,N)].solution_value()))+" "
	strmatrix+=']\n'
print(strmatrix)
strmatrix=''
pair = 0
usuario_atendido = list(DF_NOMA.columns)
for i in range(0,N):

	for j in range(0,N):

		if int(x[mi2ai(i,j,N)].solution_value()) ==1:
			if i == j:
				print(f'OMA User: {DF_NOMA.columns[j]}')
				print(f'Usou {A.iloc[i,j]*100}% do suportado') 
				usuario_atendido.remove(DF_NOMA.columns[j])
			else:
				
				print(f'NOMA Pair {pair} Near  User: {DF_NOMA.columns[j]}') 
				print(f'NOMA Pair {pair} Far  User: {DF_NOMA.index[i]}')
				print(f'Usaram {A.iloc[i,j]*100}% do suportado') 
				usuario_atendido.remove(DF_NOMA.columns[j])
				usuario_atendido.remove(DF_NOMA.index[i])
				pair = pair +1 

usuario_atendido

Numero de variaveis = 49
Solucao:
Valor objetivo = 3.8876905439950695
[ 0 0 0 0 0 0 0 ]
[ 0 0 0 0 0 0 0 ]
[ 0 0 0 0 1 0 0 ]
[ 0 0 0 0 0 0 0 ]
[ 0 0 0 0 0 0 0 ]
[ 0 0 0 0 0 0 0 ]
[ 0 0 0 0 0 1 0 ]

NOMA Pair 0 Near  User: Proposal 2005
NOMA Pair 0 Far  User: Proposal 2003
Usaram 134.1602800912319% do suportado
NOMA Pair 1 Near  User: Proposal 2006
NOMA Pair 1 Far  User: Proposal 2007
Usaram 101.28815768840013% do suportado

['Proposal 2001', 'Proposal 2002', 'Proposal 2004']

In [34]:
A

,Proposal 2001,Proposal 2002,Proposal 2003,Proposal 2004,Proposal 2005,Proposal 2006,Proposal 2007
SUMRATE FU-NU,,,,,,,
Proposal 2001,0.179117,0.995070,0.000000,1.021061,0.000000,0.000000,0.000000
Proposal 2002,0.000000,0.104224,0.000000,1.050281,0.000000,0.000000,0.000000
Proposal 2003,0.995875,0.973098,0.140198,0.957572,1.341603,0.000000,0.000000
Proposal 2004,0.000000,0.000000,0.000000,0.068303,0.000000,0.000000,0.000000
Proposal 2005,0.996015,0.973727,0.000000,0.958843,0.205779,0.000000,0.000000
Proposal 2006,0.917124,0.829330,1.105273,0.782545,1.255800,0.146989,0.000000
Proposal 2007,0.877004,0.785136,1.051671,0.738249,1.203319,1.012882,0.178548